.nav_item {
  display: flex;
  align-items: center;
}

.nav_item::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: rgb(148 163 184);
  margin-right: var(
    --space-3
  );
  transition: width 0.25s ease;
}

.nav_itemActive {
  color: rgb(226 232 240);
  font-weight: bold;
}

.nav_itemActive::before {
  background-color: rgb(226 232 240);
  width: 60px;
}
