.main {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: rgb(0, 28, 48);
}

.left {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
  height: 100%;
}

.left__content__highlight {
  color: var(--color-text--highlight);
  justify-content: start;
}

.left__content__highlight__bio {
  color: var(--color-text--neutral);
  max-width: 70%;
  justify-content: start;
}

.left__content__list {
  list-style-type: none;
  justify-content: start;
}

.left__content__list__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-sx);
  font-weight: bold;
}

.left__content__list__item::before {
  content: "";
  display: inline-block;
  width: 30px; /* Adjust the width as needed */
  height: 1px; /* Adjust the height as needed */
  background-color: var(--color-text--neutral); /* Set the color of the line */
  margin-right: var(
    --space-3
  ); /* Adjust the spacing between the line and the text */
  transition: width 0.25s ease; /* Add the transition property */
}

.left__content__list__itemActive {
  color: var(--color-text--highlight);
}

.left__content__list__itemActive::before {
  background-color: var(--color-text--highlight);
  width: 60px;
}

.left__content__socials {
  fill: var(--color-text--neutral);
}

.right {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right__list {
  margin-top: var(--space-6);
  margin-bottom: var(--space-6);
}
